<div class="list-group">
  <% @messages.each do |message| %>
      <h4 class="list-group-item-heading"><%=link_to "#{message.user.email} tweeded:", from_user_path(message.user) %></h4>
      <h3 class="list-group-item-text"><%= message.content %></h3>
      <p class="list-group-item-text"><%= message.place_of_publishing%></p>
      <hr>
  <% end %>
</div>