<div class="list-group">
  <% @messages.each do |message| %>
      <h4 class="list-group-item-heading"><%=user_wrote_link%></h4>
      <h3 class="list-group-item-text"><%= message.content %></h3>
      <p class="list-group-item-text"><%= message.place_of_publishing%></p>
      <hr>
  <% end %>
</div>